@charset "ISO-8859-1";

body {
	background-color: powderblue;
}

h1 {
	color: blue;
	font-family: verdana;
	font-size: 300%;
	text-align: center;
}

h2 {
	font-family: verdana;
	text-align: center;
}

p {
	color: red;
	font-family: courier;
	font-size: 160%;
	border: 2px solid powderblue;
	padding: 30px;
	margin: 50px;
}

a:link {
	color: green;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: pink;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: red;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: yellow;
	background-color: transparent;
	text-decoration: underline;
}

.container {
	width: 100%;
	max-width: 300px;
	padding: 40px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
}

h2 {
	width: calc(80% - 20px);
	margin-bottom: 20px;
	color: #A52A2A;
	background-color: orange;
	border-radius: 5px;
}

form {
	display: none;
}

form.active {
	display: block;
}

input[type="text"], input[type="password"], input[type="email"] {
	width: calc(100% - 20px);
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

button {
	width: calc(30% - 20px);
	padding: 5px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #0056b3;
}

.toggle-form {
	cursor: pointer;
	color: #007bff;
	text-decoration: underline;
	margin-top: 15px;
}

.error {
	color: red;
	margin-bottom: 15px;
}